//COLORS
$color-primary: #236841;
$color-primary-light: lighten($color-primary, 3%);
$color-primary-dark: darken($color-primary, 5%);
$color-primary-text: #ffffff;
$color-focus: yellow;
$color-white: #ffffff;
$color-black: #000;
//GREY
$color-grey-dark-0: #222;
$color-grey-dark-1: #333;
$color-grey-dark-2: #444;
$color-grey-dark-3: #777;
$color-grey-dark-4: #ccc;
$color-grey-dark-5: #eee;
//FONTS
$font-primary: 'Open Sans', sans-serif;
$font-display: 'Oswald', sans-serif;
